@import "../../../../styles.scss";

.x-container {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.x rect {
    fill: #6A6A6A;
    transition: fill 0.2s ease-in-out;
}

.x-container:hover .x rect {
    fill: $ui-red-color
}