<div class="content">
    <div class="title prevent-select">
        <img src="./assets/img/tab-icons/settings.svg" width="22px" />
        <h1 class="prevent-select">Settings</h1>
    </div>

    <div class="panels" *ngIf="currentTab$ | async as currentTab">
        <div class="menu panel">
            <div class="tab">
                <p></p>
            </div>
        </div>
        <div class="main panel" *ngIf="me$ | async as me">
            <h1 class="tab-name">{{currentTab.name}}</h1>

            <ng-container *ngFor="let category of currentTab.categories; let i = index">

                <div *ngIf="i !== 0" class="category-spacer"></div>

                <h2 class="category-name">{{category.name}}</h2>

                <ng-container *ngFor="let setting of category.settings; let i = index">

                    <div *ngIf="isBooleanSetting(setting) as setting" class="boolean-setting"> 
                        <div class="label">
                            <p>{{setting.label}}</p>
                            <p *ngIf="setting.description" class="description">{{setting.description}}</p>
                        </div>
                        <app-slide-toggle [checked]="getAttribute(me, setting.key)" (setChecked)="setAttribute(me, setting.key, $event)" />
                    </div>

                    <div *ngIf="isKeybindSetting(setting) as setting" class="keybind-setting" [ngClass]="i === 0 ? 'first' : ''"> 
                        <p>{{setting.label}}</p>
                        <app-editable-keybind [keybind]="getAttribute(me, setting.key)" (click)="editKeybind(setting.key)"
                            (setKeybind)="setAttribute(me, setting.key, $event)" />
                    </div>
    
                </ng-container>


            </ng-container>
            
        </div>
    </div>
</div>

<div class="keybind-modal" *ngIf="activeKey$ | async as activeKey" (click)="cancelKeybindEdit()">
    <div class="content">
        <p>[{{getLabelForKey(activeKey)}}]</p>
        <div class="big">
            <h1 class="prevent-select">Press any key</h1>
            <h3 class="error" [ngClass]="{'show' : errorKeybindExists$ | async}">Keybind {{getDisplayKeybind(errorKeybindExists$ | async)}} already exists</h3>
        </div>
        <h2 class="prevent-select">(Click anywhere to exit)</h2>
    </div>
</div>