<div class="content">
    <div class="title prevent-select">
        <img src="./assets/img/tab-icons/settings.svg" width="22px" />
        <h1 class="prevent-select">Settings</h1>
    </div>

    <div class="panels" *ngIf="currentTab$ | async as currentTab">
        <div class="menu panel">

        </div>
        <div class="main panel" *ngIf="me$ | async as me">
            <h1 class="tab-name">{{currentTab.name}}</h1>

            <ng-container *ngFor="let category of currentTab.categories">

                <h2 class="category-name">{{category.name}}</h2>

                <ng-container *ngFor="let setting of category.settings">

                    <div *ngIf="isBooleanSetting(setting) as setting" class="boolean-setting"> 
                        <p>{{setting.label}}</p>
                        <app-slide-toggle [checked]="getAttribute(me, setting.key)" (setChecked)="setAttribute(me, setting.key, $event)" />
                    </div>
    
                </ng-container>


            </ng-container>
            
        </div>
    </div>
</div>