@import "../../../../../styles.scss";

:host {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.panels {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.panel {
    background-color: $section-color;
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}

.panel.menu {
    width: 20%;
    min-width: 170px;
}

.panel.main {
    flex-grow: 1;
    padding: 10px 35px;
}

.main h1 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 18px;
    margin: 15px 0px;
    margin-bottom: 25px;
}

.main h2 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 11px;
    margin: 5px 0px;
    opacity: 0.8;
}

.main p {
    font-family: $main-font;
    font-weight: 600;
    font-size: 11px;
    margin: 0px;
}

.main p.description {
    font-size: 9px;
    font-weight: 500;
    opacity: 0.6;
}

.label {
    margin-block: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 70%;
}

.category-spacer {
    height: 20px;
}

.boolean-setting, .dropdown-setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-solid-selector {
    height: 30px;
    z-index: 1;
}

.keybind-setting {

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 2px;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.keybind-setting.first {
    margin-top: 10px;
}

.keybind-setting p {
    margin: 10px 0px;
}

.keybind-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px) brightness(0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.keybind-modal .content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.keybind-modal .content .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.big {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keybind-modal h1 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.keybind-modal h2 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 20px;
}

.keybind-modal h3.error {
    font-family: $main-font;
    font-weight: 800;
    font-size: 20px;
    color: $ui-red-color;
    margin: 5px;

    opacity: 0;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.keybind-modal h3.error.show {
    opacity: 1;

    // animate to slowly fade out
    animation: fade-out 1s forwards;
}

.keybind-modal p {
    font-family: $main-font;
    font-weight: 600;
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .menu.panel {
        display: none;
    }
}