<ng-container>
    <app-solo-room *ngIf="roomType === RoomType.SOLO" />
</ng-container>

<app-fullscreen-exit-button />

<app-chat
    [messages]="(roomService.getMessages$() | async) ?? []"
    [numSpectators]="(roomService.getNumSpectators$() | async) ?? 0"
    (sendMessage)="sendChatMessage($event)"
/>

<app-room-modal *ngIf="roomService.modal$ | async as modal">
    <app-solo-before-game-modal *ngIf="modal === RoomModal.SOLO_BEFORE_GAME" />
    <app-solo-after-game-modal *ngIf="modal === RoomModal.SOLO_AFTER_GAME" />
</app-room-modal>