<div class="root">

    <app-fullscreen-exit-button />

    <app-loading-screen (score)="setScore($event)" [resolution]="2" [blockSize]="50" [blockSpeed]="1.5"
        [explodeEverything]="!!(foundOpponent$ | async)"
    />

    <div class="score"><p *ngIf="scoreVisible">Score: {{score}}</p></div>

    <div class="center-container">
        <h1>{{getMessage((numPeriods$ | async) ?? 0)}}</h1>
        <p>{{playersInQueue$ | async}} {{(playersInQueue$ | async) === 1 ? 'player' : 'players'}} in queue</p>
    </div>

</div>