<div class="modal-container" *ngIf="(modalManager.getModal$() | async) as modal">
    <app-modal [visibility$]="visibility$" [showX]="showX(modal)">
        <app-calibrate-ocr-modal *ngIf="modal === ModalType.CALIBRATE_OCR" />
        <app-auth-modal *ngIf="modal === ModalType.AUTH" />
        <app-challenge-modal *ngIf="modal === ModalType.CHALLENGE_PLAYER" [config]="modalManager.getModalConfig()" />
        <app-quest-list-modal *ngIf="modal === ModalType.QUEST_LIST" [config]="modalManager.getModalConfig()" />
        <app-profile-modal *ngIf="modal === ModalType.PROFILE" [config]="modalManager.getModalConfig()" />
    </app-modal>
</div>
