<div class="modal" *ngIf="data$ | async as data">
    <div class="top-row">

        <div class="profile panel" [ngStyle]="{'borderColor' : leagueColor(data.dbUser.league)}">
            <div class="top">
                <div class="left">
                    <h2 class="username">{{data.dbUser.username}}</h2>
                    <app-online-indicator [isOnline]="data.online" />
                </div>
                <h2 class="league-name" [ngStyle]="{'color' : leagueColor(data.dbUser.league)}">{{leagueName(data.dbUser.league)}}</h2>
            </div>
            <p class="join-date">Joined {{dateString(data.dbUser.created_at)}}</p>

            <app-league-icon [height]="140" [league]="data.dbUser.league" />
            <app-xp-info [league]="data.dbUser.league" [xp]="data.dbUser.xp" />
        </div>

        <div class="other">
            <p class="coming-soon">Coming soon!</p>
        </div>

    </div>

    <div class="text-row">
        <h1>Completed Quests</h1>
        <app-solid-button label="Show All" [fontSize]="12" [paddingHorizontal]="10" [paddingVertical]="5" (smartClick)="showQuests()" />
    </div>

    <div class="quests">
        <app-quest *ngFor="let questID of getCompletedQuests(data.dbUser)" [questID]="questID" [status]="true" />
    </div>

    <div class="text-row">
        <h1>Activity</h1>
    </div>
    <div class="activity-panel">
        <ng-container *ngFor="let activityGroup of (this.activities$ | async)">
            <h2>{{activityDateString(activityGroup.date)}}</h2>

            <div class="activity-group">

                <div class="under"></div>

                <div class="activity-row" *ngFor="let activity of activityGroup.activities">

                    <div class="icon">
                        <img [src]="getIcon(activity.type)" />
                    </div>

                    <ng-container *ngIf="activity.type === ActivityType.PERSONAL_BEST">
                        <p>Scored a new personal best of</p>
                        <a [routerLink]="['/game', activity.gameID]" target="_blank">
                            <app-highest-score class="clickable" [highestScore]="activity.score" [size]="14" />
                        </a>
                        <p>on level {{activity.startLevel}} start</p>
                    </ng-container>

                    <ng-container *ngIf="activity.type === ActivityType.RANKED_MATCH">
                        <p>{{activity.trophyDelta >= 0 ? 'Gained' : 'Lost'}}</p>
                        <app-trophies [trophies]="abs(activity.trophyDelta)" [size]="14" [color]="activity.trophyDelta >= 0 ? '#58D774' : '#D75858'" />
                        <p>in a ranked match against</p>
                        <p class="highlight clickable" (click)="goToProfile(activity.opponentID)">{{activity.opponentName}}</p>
                        <p>with score</p>
                        <a [routerLink]="['/game', activity.myGameID]" target="_blank">
                            <p class="highlight clickable">{{numberWithCommas(activity.myScore)}}</p>
                        </a>
                        <p>to</p>
                        <a [routerLink]="['/game', activity.opponentGameID]" target="_blank">
                            <p class="highlight clickable">{{numberWithCommas(activity.opponentScore)}}</p>
                        </a>
                    </ng-container>

                    <ng-container *ngIf="activity.type === ActivityType.QUEST_COMPLETION">
                        <p>Completed quest</p>
                        <p class="highlight">{{questName(activity.questID)}}</p>
                        <p>and gained {{questXP(activity.questID)}} xp</p>
                    </ng-container>

                    <ng-container *ngIf="activity.type === ActivityType.LEAGUE_PROMOTION">
                        <p>Promoted from</p>
                        <p class="highlight">{{leagueName(previousLeague(activity.league))}}</p>
                        <p>to</p>
                        <p class="highlight">{{leagueName(activity.league)}}</p>
                    </ng-container>

                    <ng-container *ngIf="activity.type === ActivityType.PUZZLE_ELO">
                        <p>Reached a rating of</p>
                        <app-puzzle-elo [puzzleElo]="activity.elo" [size]="14" />
                        <p>in puzzles</p>
                    </ng-container>

                </div>
            </div>
        </ng-container>
    </div>

</div>