:host {
    display: block;
    width: 100%;
    height: 100%;
}

.multiplayer-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); // force equally spaced columns even if children are bigger
    z-index: -100; // behind everything else
}

.multiplayer-background .left {
    background: linear-gradient(10deg,rgba(4,43,182,.5) 0%,rgba(0,0,0,1) 90%);
}
.multiplayer-background .right {
    background: linear-gradient(350deg,rgba(182, 4, 4, 0.5) 0%,rgba(0,0,0,1) 90%);
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main.solo {
    background: linear-gradient(7deg,rgba(4,43,182,.5) 0%,rgba(0,0,0,1) 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main.multiplayer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); // force equally spaced columns even if children are bigger
}

.column {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}