@import "../../../../styles.scss";

.xp-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.xp-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    padding-inline: 20px;
}

.xp-bar-container {
    width: 200px;
    height: 12px;
    position: relative;

}

.xp-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    opacity: 0.25;
}

.xp-bar-active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 3px;
}

.xp-info p {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}