@import "../../../../../styles.scss";

.game-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    margin-bottom: 2px;
}

h1.name {
    font-family: $main-font;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    gap: 0;
}

.trophies {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-top: -5px;
    margin-bottom: 4px;
}

.trophies p {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    gap: 0;

    // for the text color gradient
    background: linear-gradient(to bottom, #FFB836, #FF8D04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p.score {
    font-family: 'NES';
    font-size: 40px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    transform: translateY(-5px);
}

p.score.blue {
    color: $multiplayer-blue-color;
}

p.score.red {
    color: $multiplayer-red-color;
}