@import "../../../../../styles.scss";

:host {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
}

.section-header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 5px;

}

.section-header h1 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-top: 1px;
}

app-solid-selector {
    height: 0;
    z-index: 1;
}

.games {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: 35% 1fr 1fr 1fr 1fr 1fr 1fr 30px;
}

.row {
    font-family: $main-font;
    text-align: center;
    margin: 0;
    padding-left: 10px;
}

.row div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row div:first-child {
    justify-content: flex-start;
}

.row div:last-child {
    justify-content: flex-end;
}

.row.header {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.7;
}


.row.game {
    background-color: $section-color;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
}

.row.game div:first-child {
    font-weight: 500;
    font-size: 12px;
}

.row.game:hover {
    filter: brightness(1.1);
}

.analyze-button {
    transform: scale(0.6);
}

section.stats {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

section.stats .left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.panel {
    background-color: $section-color;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.panel h1 {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
}

.panel.score-histogram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.histogram {
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding-inline: 5px;
}

.column {
    width: 12px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    transition: all 0.25s;
}

.column:hover {
    transform: scale(1.02) translateY(-1px);
    filter: brightness(1.1) contrast(1.2);
}

.column p {
    font-family: $main-font;
    font-size: 9px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1px;
}

.column h1 {
    font-family: $main-font;
    font-size: 9px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    text-align: center;
}

.bar {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    transition: height 1s ease-in-out 0.2s;
}

.panel.player-stats {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.stat-list {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-grow: 1;
    justify-content: center;
}

.stat-list .stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-list .stat h2 {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.stat-list .stat p {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.panel.games-graph {
    width: 100%;
    box-sizing: border-box;
}

.games-graph .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.games-graph .arrow {
    background-color: $dark-color;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-graph h1 {
    margin-bottom: 0px;
    margin-inline: 5px;
    width: 230px;
    text-align: left;
}

.arrow {
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.7;
}

.arrow:active {
    opacity: 0.6;
}

.arrow.left {
    transform: rotate(180deg);
}

.arrow img {
    opacity: 0.8;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    div.skippable {
        display: none !important;
    }
    .row {
        grid-template-columns: 35% 1fr 1fr 1fr 30px;
    }
}

@media screen and (max-width: 550px) {
    section.stats {
        flex-direction: column;
    }

    .histogram {
        zoom: 1.2;
    }
}