<div class="content">
    <app-page-title title="Review" icon="./assets/img/tab-icons/review.svg" />

    <div class="centered">

        <section class="stats">
            <div class="left">
                <div class="panel score-histogram" *ngIf="histogram$ | async as histogram">
                    <h1>Your scores</h1>
                    <div class="histogram">
                        <div class="column" *ngFor="let scoreRange of HISTOGRAM_SCORE_RANGES; let i = index">
                            <p>{{histogramValue(histogram[i].count)}}</p>
                            <div class="bar" [ngStyle]="{
                                'backgroundColor' : HISTOGRAM_COLORS[i],
                                'height' : ((histogram[i].height) * 80 + 1) + '%'
                            }"></div>
                            <h1 [ngStyle]="{
                                'opacity' : (i % 2) ? 0 : 1
                            }">{{histogramLabel(i)}}</h1>
                        </div>
                    </div>
                </div>
                <div class="panel player-stats">
                    <h1>Your stats</h1>
                    <div class="stat-list" *ngIf="me$ | async as me">
                        <div class="stat">
                            <h2>Highest score</h2>
                            <p>{{numbersWithCommas(me.highest_score)}}</p>
                        </div>
                        <div class="stat">
                            <h2>Best score into 19</h2>
                            <p>{{numbersWithCommas(me.highest_transition_into_19)}}</p>
                        </div>
                        <div class="stat">
                            <h2>Best score into 29</h2>
                            <p>{{numbersWithCommas(me.highest_transition_into_29)}}</p>
                        </div>
                        <div class="stat">
                            <h2>Games played</h2>
                            <p>{{numbersWithCommas(me.games_played)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right panel games-graph">

            </div>
        </section>

        <div class="section-header">
            <h1>History</h1>
            <app-solid-selector [labels]="sortLabels" (selectedChange)="sortIndex$.next($event)"
                [color]="ButtonColor.DARK" [fontSize]="10" [textOpacity]="0.8" [paddingHorizontal]="10" [paddingVertical]="0"
                [dropdownIconWidth]="12" [width]="110" [height]="25" [fontWeight]="500" />
        </div>
        <section class="games" *ngIf="games$ | async as games">
    
            <div class="row header">
                <div></div>
                <div>Start level</div>
                <div>Score</div>
                <div>Level</div>
                <div>Lines</div>
                <div>Quad rate</div>
                <div>Accuracy</div>
                <div></div>
            </div>
    
            <div class="row game" *ngFor="let game of games">
                <div>{{timeAgo(game.created_at)}}</div>
                <div>{{game.start_level}}</div>
                <div>{{numbersWithCommas(game.end_score)}}</div>
                <div>{{game.end_level}}</div>
                <div>{{game.end_lines}}</div>
                <div>{{(game.tetris_rate * 100).toFixed(0)}}%</div>
                <div [ngStyle]="{'color' : getAccuracyColor(game.accuracy)}">{{game.accuracy}}%</div>
                <div>

                <a *ngIf="game.data_exists" [routerLink]="['/game', game.id]" class="analyze-button">
                    <app-solid-button icon="/assets/img/tab-icons/learn.svg" [color]="ButtonColor.BLUE" tooltip="Analyze game" tooltipDirection="right" />
                </a>
                <app-solid-button *ngIf="!game.data_exists" class="analyze-button" icon="/assets/img/tab-icons/learn.svg" tooltipDirection="right"
                    [color]="ButtonColor.BLUE" [disabled]="true" tooltip="Replay file has expired. Upgrade to premium to save games for longer!" />
                </div>
            </div>
    
        </section>

    </div>

    

</div>