@import "../../../../styles.scss";

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 10px;
    padding-inline: 15px;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button:active {
    opacity: 0.7;
}

.icon {

}

.label {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-block: 6px;
}