<div class="button prevent-select" (click)="onClick()"
    [ngStyle]="{backgroundColor: color, paddingInline: !label ? 0 : paddingHorizontal + 'px', borderRadius: borderRadius + 'px'}"
    [ngClass]="{
        'disabled': disabled || loading,
        'loading' : loading,
        'stretch': stretch,
        'just-icon': !label,
        'disable-hover': disableHover,
        'no-shadow': noShadow
    }"
>
    <img class="icon" *ngIf="icon" [src]="icon" [height]="iconHeight ?? ((!!label) ? '18' : '16')">
    <h1 class="label" *ngIf="label" [ngStyle]="{
        fontSize: fontSize + 'px', fontWeight: fontWeight, marginBlock: paddingVertical + 'px'
    }">{{ label }}</h1>
</div>

<app-loading-animation *ngIf="loading" class="loading-animation"
[size]="loadingSize" />