<div class="global-rank-container">
  <div class="left-col" *ngIf="(rank$ | async)?.rank as rank">
    <h2>Global Rank</h2>
    <h1 [class.single-digit]="rank <= 9">#{{rank}}</h1>
  </div>
  <div class="right-col">
    <div class="spacer" [class.hide]="!hasRankAbove(rank$ | async)"></div>
    <div class="item" *ngFor="let rank of (rank$ | async)?.leaderboard; let i = index" [class.middle]="i === 2" [class.none]="rank === null">
      <ng-container *ngIf="rank">
        <div class="left">
          <p class="rank">#{{rank.rank}}</p>
          <p class="username">{{rank.username}}</p>
        </div>
        <p class="elo">{{rank.elo}}</p>
      </ng-container>
  </div>
  <div class="spacer" [class.hide]="!hasRankBelow(rank$ | async)"></div>
</div>
