<div class="content">
    <div class="title prevent-select">
        <img src="./assets/img/tab-icons/leaderboard.svg" width="22px" />
        <h1 class="prevent-select">Leaderboard</h1>
    </div>
    <div class="header">
        <div class="left prevent-select">

            <div class="tabs">

                <div *ngFor="let mode of modes"  class="tab prevent-select"
                    [ngClass]="[mode, (currentMode$ | async) === mode ? 'selected' : '']" (click)="setMode(mode)">
                    <app-mode-icon [mode]="mode" [width]="85" />
                </div>

            </div>

            <app-solid-selector *ngIf="currentMode$ | async as mode"
                [labels]="getLabelsForMode(mode)" [icons]="getIconsForMode(mode)" [color]="ButtonColor.GREY" [selected]="getIndexForType(mode, currentType$ | async)"
                [gap]="10" [textOpacity]="0.8" [width]="160" (selectedChange)="setType(mode, $event)" />

        </div>
        <div class="right">
            <app-stat-panel icon="./assets/img/tab-icons/profile.svg" label="Players" [value]="(numPlayers$ | async) ?? 0" />
            <app-stat-panel icon="./assets/img/tab-icons/puzzles.svg" label="Puzzles solved" [value]="(puzzlesSolved$ | async) ?? 0" />
            <app-stat-panel icon="./assets/img/tab-icons/time.svg" label="Hours played" [value]="(hoursSpent$ | async) ?? 0" />
        </div>
    </div>

    <app-table *ngIf="leaderboard$ | async as leaderboard" [attributes]="leaderboard.attributes" [rows]="leaderboard.leaderboard" [myID]="(meService.getUserID$() | async) ?? undefined"
        sortByAttribute="rating" [formatRules]="FORMAT_RULES" [colorRules]="COLOR_RULES" />

</div>
