<div class="content">
    <app-page-title title="Leaderboard" icon="./assets/img/tab-icons/leaderboard.svg" />
    <div class="header" *ngIf="(leaderboard$ | async)?.stats as stats">
        <div class="left prevent-select">

            <div class="tabs">

                <div *ngFor="let mode of modes"  class="tab prevent-select"
                    [ngClass]="[mode, (currentMode$ | async) === mode ? 'selected' : '']" (click)="setMode(mode)">
                    <app-mode-icon [mode]="mode" [width]="85" />
                </div>

            </div>

            <app-solid-selector *ngIf="currentMode$ | async as mode"
                [labels]="getLabelsForMode(mode)" [icons]="getIconsForMode(mode)" [color]="ButtonColor.GREY" [selected]="getIndexForType(mode, currentType$ | async)"
                [gap]="10" [textOpacity]="0.8" [width]="160" (selectedChange)="setType(mode, $event)" />

        </div>
        <div class="right">
            <ng-container *ngIf="currentMode$ | async as mode">
                <app-stat-panel *ngFor="let display of globalStatDisplays[mode]"
                    [icon]="display.icon" [label]="display.label" [value]="stats[display.stat]"
                />
            </ng-container>
        </div>
    </div>

    <app-leaderboard-table *ngIf="(leaderboard$ | async)?.data as leaderboard" [attributes]="leaderboard.attributes" [rows]="leaderboard.leaderboard" [myID]="(meService.getUserID$() | async) ?? undefined"
        sortByAttribute="rating" [formatRules]="FORMAT_RULES" [colorRules]="COLOR_RULES" [resourceIDType]="leaderboard.resourceIDType" />

</div>
