@import "../../../../../styles.scss";

.main-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main {
  width: 100%;
  max-width: 950px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.begin-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #54A165;

  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.begin-button:hover {
  opacity: 0.8;
}

.begin-button.not-logged-in {
  opacity: 0.4;
  cursor: not-allowed;
}

.begin-button p {
  font-family: $main-font;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.stat-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
  height: 190px;
}

.summary-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
  height: 260px;
}

.summary-row .column {
  display: flex;
  flex-direction: column;
}

.column .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  height: 35px;
  margin-bottom: 10px;
  gap: 20px;
}

.summary {
  min-width: 400px;
}

.insights {
  flex-grow: 1;
}

.buttons {
  width: 150px;
}

h1 {
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255, 0.8);
  margin: 0;
  text-wrap: nowrap;
}