.board-container {
    background-color: black;
    border-radius: 5px;
    border: solid white 1px;

    position: relative;

    width: fit-content;
}

.board-svg {
    display: block; // prevents the weird space in the bottom of the board
}

.empty-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-piece {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    // margin: 5px;
}