<div class="board-container">

    <div class="empty-board" *ngIf="hide"
        [style.width]="(scale*boardWidthPixels) + 'px'"
        [style.height]="(scale*boardHeightPixels) + 'px'"
    ><ng-content></ng-content></div>

    <app-nes-piece class="next-piece" *ngIf="nextPiece"
        [piece]="nextPiece"
        [level]="level"
        [scale]="1" />

    <svg class="board-svg" *ngIf="!hide && board"
        [attr.width]="(scale*boardWidthPixels) + 'px'"
        [attr.height]="(scale*boardHeightPixels) + 'px'"
        [attr.viewBox]="'0 0 ' + boardWidthPixels + ' ' + boardHeightPixels">

        <g>
            <g *ngFor="let y of ZERO_TO_NINETEEN">
                <g *ngFor="let x of ZERO_TO_NINE">
                    <g app-nes-block
                        [color]="board.getAt(x,y)"
                        [level]="level"
                        [interactable]="interactable"
                        [offsetX]="9*x + 1"
                        [offsetY]="9*y + 1"
                    />
                </g>
            </g>
        </g>

    </svg>
</div>
