@import "../nes-styles.scss";

.board-container {
    background-color: black;
    border-radius: 5px;
    border: solid white 1px;

    position: relative;

    width: fit-content;
}

.board-svg {
    display: block; // prevents the weird space in the bottom of the board
}

.empty-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-piece {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    // margin: 5px;
}

.countdown {
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.game-over {
    transition: opacity 0.5s;
    transition-delay: 1s;
    position: absolute;
    width: 100%;
    top: 15%;
    height: 20%;
}

.block.animate {
    transition: opacity 1s;
    transition-delay: 0.2s;
}