@import "../../../../../styles.scss";

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 900px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.table-rows {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  box-sizing: border-box;
}

.labels p {
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-wrap: nowrap;
  opacity: 0.7;
  margin: 2px;
}

.puzzle {
  background-color: $section-color;
  border-radius: 10px;
  margin-bottom: 6px;
  align-items: center;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.puzzle:hover {
  opacity: 0.8;
}

.puzzle p {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-wrap: nowrap;
  margin: 3px;
}

.puzzle .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzle .item.board {
  padding: 5px;
}