@import "../../../../../styles.scss";

.buttons {
  display: flex;
  flex-direction: row;

  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panels {
  display: flex;
  flex-direction: row;

  width: 100%;
  gap: 10px;
}

.panel {
  background-color: $section-color;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
}

.sign-in-panel {
  background-color: $section-color;
  border-radius: 10px;
  margin-block: 10px;
  padding: 5px 15px;
  flex-grow: 1;
}

.sign-in {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
}

.folder-panel {
  max-width: 300px;
}

.puzzle-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}