:host {
    width: 100%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-friend-button {
    width: fit-content;
    margin-bottom: 7px;
}

.friends-list {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;
}

app-solid-selector {
    height: 0;
    z-index: 1;
}