<div class="buttons">
    <app-solid-button class="add-friend-button" [disabled]="!(meService.get$() | async)"
    [paddingVertical]="9"
    label="Add Friend" [color]="ButtonColor.GREEN"
    icon="./assets/img/friend-status-icons/not-friend.svg"
    [tooltip]="(meService.get$() | async) ? '' : 'Login to add friends!'"
    (click)="toggleFriendDialog($event)" />

    <app-solid-selector
        [labels]="['Sort by highscore', 'Sort by trophies', 'Sort by puzzle elo']"
        [icons]="['./assets/img/tab-icons/play.svg', './assets/img/button-icons/trophy.svg', './assets/img/tab-icons/puzzles.svg']"
        [color]="ButtonColor.GREY"
        [paddingVertical]="9"
        [width]="220"
        [height]="20"
        [textOpacity]="0.9"
        [iconWidth]="15"
        [gap]="10"
        [selected]="(friendSort$ | async) ?? FriendSort.HIGHSCORE"
        (selectedChange)="friendSort$.next($event)"
    />
</div>


<app-add-friend-modal *ngIf="showAddFriendDialog$ | async" [visibility$]="showAddFriendDialog$" />

<div class="friends-list">
    <!-- <ng-container *ngIf="friendsService.getChallenges$() | async as challenges">
        <app-challenge *ngFor="let challenge of challenges"
            [challenge]="challenge"
        />
    </ng-container> -->
    <ng-container *ngIf="sortFriendRequests(requests$ | async) as requests">
        <app-friend-request *ngFor="let request of requests" [request]="request" [myID]="(meService.getUserID$() | async)!" />
    </ng-container>
    <ng-container *ngIf="sortFriends(friendsService.get$() | async, (friendSort$ | async) ?? FriendSort.HIGHSCORE) as friendsInfo">
        <app-friend-element *ngFor="let friendInfo of friendsInfo" [friendInfo]="friendInfo" />
    </ng-container>
</div>