<div class="modal">
    <div class="content">
        <h1 class="title">Play a solo game!</h1>
        <div></div>
        <div class="select-level-content" *ngIf="platform.getPlatform() == Platform.ONLINE">
            <div class="select-level-container">
                <h1>Select start level</h1>
                <div class="levels prevent-select">
                    <div class="level prevent-select" *ngFor="let level of VALID_START_LEVELS"
                    [ngClass]="{'selected' : startLevel == level}" (click)="startLevel$.next(level)">
                        <p>{{level}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="buttons">
        <app-solid-button label="Exit" [color]="ButtonColor.RED" (click)="exit()" />
        <div class="buttons-right">
            <app-solid-button label="Play" [color]="ButtonColor.BLUE" (click)="startGame()" />
            <!-- TODO: keybinds button here -->
        </div>
    </div>
</div>