@import "../../../../../styles.scss";

:host {
    width: 100%;
}

.tab {
    width: 100%;
    height: 60px;
    background-color: rgba(60, 94, 183, 0.7);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.tab:hover {
    background-color: rgba(60, 94, 183, 0.85);
}

.tab:active {
    background-color: rgba(60, 94, 183, 1);

}

.icon {
    margin-left: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
}

.label {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.ping-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.ping {
    font-family: Montserrat;
    font-size: 9.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 1px;
    word-spacing: -1px;
}

.profile-arrow {
    margin-right: 15px;
}

.tab .tab-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    opacity: 0.7;
}

.selected .tab .tab-left {
    opacity: 1;
}

.tab-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 1000px) {

    .tab-right {
        display: none;
    }

    .user-info {
       display: none;
    }

    .tab {
        justify-content: center;
        background-color: transparent !important;
    }

    .tab.left {
        justify-content: center;
    }

    .icon {
        margin-left: 0;
    }

    .tab {
        opacity: 0.5;
    }

    .selected .tab {
        opacity: 1;
    }
}