<div class="root"
[ngClass]="{
    'correct': !(solvingPuzzle$ | async) && puzzleIsCorrect,
    'incorrect': !(solvingPuzzle$ | async) && !puzzleIsCorrect
}">

    <app-fullscreen-exit-button [confirm]="confirmString(!!(solvingPuzzle$ | async), !!(isRetry$ | async))" [onExit]="this.onExit.bind(this)" />

    <div class="content">

        <header>
            <h1 class="title">PUZZLES</h1>
            <!-- <div class="subtitle-container">
                <hr>
                <h2 class="subtitle">RANKED MODE</h2>
                <hr>
            </div> -->
        </header>

        <p class="instructions" *ngIf="solvingPuzzle$ | async">
            Find the best place to put the given two pieces. There's only one right answer!
        </p>

        <p class="instructions" *ngIf="!(solvingPuzzle$ | async)">
            {{puzzleSolutionExplanation}}
        </p>

        <div class="main-row">

            <!-- show undo button if in puzzle solving mode and can undo -->
            <app-outline-button class="undo-button" label="Undo"
            [ngStyle]="{visibility: ((solvingPuzzle$ | async) && (canUndo$ | async)) ? 'visible' : 'hidden'}" (click)="undo()" />

            <!-- show nes board if it's in puzzle solving mode but no puzzle is loaded yet -->
            <app-nes-board *ngIf="(solvingPuzzle$ | async) && (puzzle$ | async) === undefined"
                class="board" [scale]="3.3"
            />

            <!-- show puzzle board if it's in puzzle solving mode and a puzzle is loaded -->
            <app-puzzle-nes-board *ngIf="(solvingPuzzle$ | async) && (puzzle$ | async)"
                class="board" [scale]="3.3" 
                [puzzle]="(puzzle$ | async)!" (submitPuzzle)="submitPuzzle($event)"
                [undo$]="clickUndo$" (canUndo)="canUndo$.next($event)"
            />

            <!-- show puzzle solution if it's not in puzzle solving mode -->
            <app-nes-board *ngIf="!(solvingPuzzle$ | async) && (puzzle$ | async)"
                class="board" [scale]="3.3"
                [board]="getBoard()" [level]="18"
                [activePiece]="(hoveredMove$ | async)?.firstPlacement ?? getCurrentMT()"
                [nextPiece]="(hoveredMove$ | async)?.secondPlacement ?? getNextMT()"
                [activePieceOpacity]="1"
                [nextPieceOpacity]="1"
                [defaultOpacity]="0.6"
                [gold]="(puzzle$ | async)?.rating === PuzzleRating.SIX_STAR"
            />

            <div class="puzzle-details">

                <div class="puzzle-details-top">
                    <div class="puzzle-header-container">

                        <div class="puzzle-header">

                            <img *ngIf="!(solvingPuzzle$ | async)" class="puzzle-header-icon"
                                [src]="'./assets/img/display-icons/' + (puzzleIsCorrect ? 'correct.svg' : '/incorrect.svg')"
                            >
    
                            <h1 [ngClass]="{
                                'correct': !(solvingPuzzle$ | async) && puzzleIsCorrect,
                                'incorrect': !(solvingPuzzle$ | async) && !puzzleIsCorrect
                            }">{{(solvingPuzzle$ | async) ? (puzzleState$ | async)?.getPuzzleName(!!(isRetry$ | async)) : (puzzleIsCorrect ? "Correct" : "Incorrect")}}</h1>
                        </div>
                        
                        <ng-container *ngIf="!(isRetry$ | async)">
                            <app-elo-rating class="elo-container" *ngIf="(eloChange$ | async) as eloChange"
                                [rating]="(getRatedPuzzleState$() | async)?.getElo() ?? 1000"
                                [increase]="eloChange.eloGain" [decrease]="eloChange.eloLoss"
                                [mode]="(solvingPuzzle$ | async) ? EloMode.NEUTRAL : (puzzleIsCorrect ? EloMode.WIN : EloMode.LOSS)"
                            />
                        </ng-container>

                    </div>
                    

                    <div class="next-box-container" *ngIf="(solvingPuzzle$ | async) && (puzzle$ | async)">
                        <app-nes-piece  [scale]="3"
                            [piece]="(canUndo$ | async) ? undefined: (puzzle$ | async)!.next" [level]="18"
                        />
                    </div>

                    <p class="instructions narrow" *ngIf="solvingPuzzle$ | async">
                        Hover your mouse on the board to move the piece, or use the arrow keys! Rotate with Z and X.
                    </p>

                    <!-- show "View Solution" button if in puzzle solving mode -->
                    <app-solid-button *ngIf="(solvingPuzzle$ | async)"
                        class="view-solution-button"
                        icon="./assets/img/button-icons/eye.svg"
                        label="View Solution" [color]="ButtonColor.RED"
                        [paddingVertical]="10"
                        (click)="submitPuzzleEarly()"
                    />

                    <!-- all the elements in puzzle solution mode -->
                    <ng-container *ngIf="!(solvingPuzzle$ | async)">

                        <app-elo-graph *ngIf="(getRatedPuzzleState$() | async) as ratedState" [eloHistory]="ratedState.getEloHistory()"/>

                        <div *ngIf="(mode$ | async) === PuzzleMode.SINGLE" class="padding-above-puzzle-stats"></div>

                        <!-- Statistics for the puzzle -->
                        <ng-container *ngIf="(puzzleState$ | async) as puzzle">
                            <div class="puzzle-stats" *ngIf="puzzle.getPuzzle().rating as rating">
                                <div class="stat">
                                    <h1>Puzzle Rating</h1>
                                    <app-rating-stars [rating]="rating" [width]="75" />
                                </div>
                                <div class="stat" *ngIf="puzzle.getPuzzle().rating != PuzzleRating.UNRATED">
                                    <h1>Success Rate</h1>
                                    <p>{{puzzle.getSuccessRate()}}</p>
                                </div>
                                <div class="stat" *ngIf="puzzle.getPuzzle().rating != PuzzleRating.UNRATED">
                                    <h1>Attempts</h1>
                                    <p>{{puzzle.getPuzzle().numAttempts}}</p>
                                </div>
                                <div class="stat" *ngIf="puzzle.getThemeString() as theme">
                                    <h1>Theme</h1>
                                    <p>{{theme}}</p>
                                </div>
                            </div>
                        </ng-container>

                        <!-- Engine recommendations -->
                        <div class="engine-div">
                            <h2 class="prevent-select">Engine Evaluation</h2>
                            <div class="engine-container">
                                <div class="row-container">
                                    <div class="labels">
                                        <p>Guesses</p>
                                    </div>
                                    <div></div>
                                    <div class="labels table-rows">
                                        <p>Rank</p>
                                        <p>Score</p>
                                        <p>Current</p>
                                        <p>Next</p>
                                    </div>
                                </div>
                                
                                <div class="row-container" *ngFor="let move of (moveRecommendations$ | async); let i=index">

                                    <div class="guesses">
                                        <p>{{ move.guesses ?? 0 }}</p>
                                    </div>
                                    <div></div>
                                    <div class="engine-move table-rows"
                                    [class.first-move]="i === 0"
                                    [class.player-move]="isPlayerMove(move) && i !== 0"
                                    (mouseenter)="hoverEngineMove(move)" (mouseleave)="hoverEngineMove(undefined)"
                                    >
                                        <p><b>#{{ i + 1 }}</b></p>
                                        <p>{{ (move.score > 0 ? ('+' + move.score) : move.score) }}</p>
                                        <p>{{ move.firstPlacement.getTetrisNotation() }}</p>
                                        <p>{{ move.secondPlacement.getTetrisNotation() }}</p>
                                    </div>
                                </div>
                    
                            </div>
                        </div>

                        <!-- show puzzle feedback if it is rated -->
                        <div class="feedback-container" *ngIf="(getRatedPuzzleState$() | async) as rated">
                            <h2 class="prevent-select">Did you like this puzzle?</h2>
                            <app-feedback-thumbs [puzzleID]="rated.getPuzzleID()" />
                        </div>
                        

                    </ng-container>

                </div>
                <div class="puzzle-details-bottom">


                    

                    <!-- Show "share" and "retry" buttons if in puzzle solution mode -->
                    <div *ngIf="!(solvingPuzzle$ | async)" class="two-button-container">
                        <app-solid-button class="new-puzzle-button"
                            icon="./assets/img/puzzle-button-icons/link.svg"
                                label="Share" [color]="ButtonColor.GREY"
                                [stretch]="true"
                            (smartClick)="copyPuzzleLink()"
                            tooltip="Copy puzzle link to share with friends!"
                        />
                        <app-solid-button class="new-puzzle-button"
                            icon="./assets/img/button-icons/retry.svg"
                            label="Retry" [color]="ButtonColor.GREY"
                            [stretch]="true"
                            (click)="retryPuzzle()"
                        />
                    </div>

                    <!-- If in puzzle solution mode and no next puzzle, show "Exit" button -->
                    <app-solid-button *ngIf="!(solvingPuzzle$ | async) && !(puzzleState$ | async)?.nextButtonText()"
                        class="new-puzzle-button"
                        icon="./assets/img/button-icons/new-puzzle.svg"
                        label="Back to Puzzles" [color]="ButtonColor.BLUE"
                        [stretch]="true"
                        (click)="exitUnratedPuzzle()"
                    />

                    <!-- If in puzzle solution mode and has next puzzle, show "Next Puzzle" button -->
                    <app-solid-button *ngIf="!(solvingPuzzle$ | async) && (puzzleState$ | async)?.nextButtonText()"
                        class="new-puzzle-button"
                        icon="./assets/img/button-icons/new-puzzle.svg"
                        [label]="(puzzleState$ | async)?.nextButtonText()" [color]="ButtonColor.GREEN"
                        [stretch]="true"
                        [loading]="!!(loadingNextPuzzle$ | async)" [loadingSize]="15"
                        (smartClick)="startPuzzle()"
                    />
                </div>

            </div>

        </div>

        <!-- show timer if in puzzle solving mode -->
        <app-timer class="timer"
            [ngStyle]="{visibility: ((solvingPuzzle$ | async) && (puzzleState$ | async)?.isTimed()) ? 'visible' : 'hidden'}"
            [currentTime]="(currentPuzzleTime$ | async) ?? 0"
            [maxTime]="PUZZLE_TIME_LIMIT"
        />
    </div>

</div>