<div class="modal">

    <div class="header">
        <!-- <app-solid-button label="Back" (click)="modalManagerService.hideModal()" /> -->
        <div></div>
        <h1>Ansel's Quests</h1>
        <div></div>

    </div>

    <div class="quest-content">
        <div class="quests">
            <app-quest class="quest" *ngFor="let quest of QUESTS" [questID]="quest.id" [status]="true"
                [ngClass]="quest.difficulty === QuestDifficulty.IMPOSSIBLE ? 'impossible' : 'not-impossible'"
                [ngStyle]="quest.difficulty === QuestDifficulty.IMPOSSIBLE ? {} : {
                    'borderColor': QUEST_COLORS[quest.difficulty],
                    backgroundColor: hexWithAlpha(QUEST_COLORS[quest.difficulty], 0.05)
                }"
            />
        </div>
    </div>
    
    
  
    
  </div>