<div class="modal">

    <div class="header">
        <!-- <app-solid-button label="Back" (click)="modalManagerService.hideModal()" /> -->
        <div></div>
        <h1>Ansel's Quests</h1>
        <div></div>

    </div>

    <div class="quest-content">
        <div class="quests" *ngIf="(meService.get$() | async) as me">
            <app-quest class="quest" *ngFor="let quest of QUESTS" [questID]="quest.id"
                [status]="getQuestStatus(me, quest.id)"
                />
        </div>
    </div>
    
    
  
    
  </div>