@import "../../../../../styles.scss";

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.multiplayer-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); // force equally spaced columns even if children are bigger
}

.multiplayer-background .blue {
    background: linear-gradient(10deg,rgba(4,43,182,.5) 0%,rgba(0,0,0,1) 90%);
}
.multiplayer-background .red {
    background: linear-gradient(350deg,rgba(182, 4, 4, 0.5) 0%,rgba(0,0,0,1) 90%);
}

.side {
    position: relative;
}

// center the player
.player {
    width:fit-content;
    height: fit-content;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    .player {
        transform: scale(0.8) translate(-60%, -60%);
    }
}

@media screen and (max-width: 950px) {
    .player {
        transform: scale(0.6) translate(-80%, -80%);
    }
    
}

app-xp-status {
    position: absolute;
    top: 0;
    right: 0;
}