<div class="modal">
    <div class="upper-content">
        <div class="header">
            <app-solid-button label="Abort" [color]="ButtonColor.RED" (click)="leaveMatch()" />
            <!-- <p>Trophy placeholder</p> -->
            <div class="seed-container">
                <p>Optional Seed</p>
                <h1>{{data.match.seed}}</h1>
            </div>
        </div>
        <div class="player-cards">
            <div *ngFor="let color of ['blue', 'red']" class="player-card" [ngClass]="color">
                <div class="info">
                    <h1 class="player">{{data.match.playerInfo[getPlayer(color)].username}}</h1>
                    <h2 class="trophies">{{data.match.playerInfo[getPlayer(color)].trophiesBeforeMatch}}</h2>
                </div>
                <h1 class="score">{{getPlayerScore(data, getPlayer(color))}}</h1>
            </div>
        </div>
        <div class="ready-cards">
            <div *ngFor="let color of ['blue', 'red']" class="ready-card prevent-select" [ngClass]="color" (click)="toggleReady(color)">
                <div class="ready-content prevent-select">
                    <h1 class="status prevent-select">{{getPlayerStatus(data, getPlayer(color))}}</h1>
                    <p class="msg prevent-select">{{getPlayerMessage(data, getPlayer(color))}}</p>
                </div>
                <app-loading-animation *ngIf="data.state.mode === MultiplayerRoomMode.COUNTDOWN" class="loading" [size]="40" />
            </div>
        </div>
    </div>
    <div class="select-level-content">
        <div class="select-level-container">
            <h1>{{data.state.levelPicker === myRole ? "Your turn to select level!" : "Opponent sets level this turn"}}</h1>
            <div class="levels prevent-select">
                <div class="level prevent-select" *ngFor="let level of data.match.validStartLevels"
                [ngClass]="getLevelClasses(data, level)" (click)="selectLevel(level)">
                    <p>{{level}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bottom-content">
        <p>{{data.match.isRanked ? 'Ranked' : 'Unranked'}} • First to {{data.match.winningScore}}</p>
    </div>
</div>