@import "../../../../styles.scss";

.table {
    
}

.row:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row {
    display: grid;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}

app-solid-button {
    transform: scale(0.85);
    display: block;
}

.row.header {
    background-color: $dark-color;

    height: 50px;
}

.row.content {
    background-color: $section-color;
}

.cell {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cell.player {
    justify-content: left;
}

.row.content.top {
    padding-top: 1px;
}


.row.header .cell {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    opacity: 0.8;
    color: white;
    text-wrap: nowrap;
}

.row.header .cell.player {
    padding-left: 10px;
}


.row.content .cell {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: white;
    text-wrap: nowrap;
}

.row.content .cell.player .player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

app-league-icon {
    margin-right: 7px;
    margin-left: 5px;
}

.player {
    text-align: left;
    // width: 40%;
    // min-width: 100px;
}

.player p {
    margin-left: 53px;
}


.player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player p {
    margin: 0;
}

tr:first-child td.player {
    transform: translateY(5px);
}

app-online-indicator {
    width: fit-content;
    margin-left: -1px;
}

td:first-child, th:first-child {
    width: 45px;
}

.cell.resource {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}



.ranking {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: $subsection-color;
    font-size: 12px;

    margin: 4px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

// Two-digit ranks have smaller font size
.content.row:nth-child(n+10) td .ranking {
    font-size: 10.5px;
}

// Three-digit ranks have even smaller font size
.content.row:nth-child(n+100) td .ranking {
    font-size: 9px;
}

tbody tr:first-child td .ranking {
    margin-top: 8px;
}

tr:last-child td .ranking {
    margin-bottom: 8px;
}

// First place
.row.first .cell .ranking {
    background-color: $gold-color;
}

// Second place
.row.second .cell .ranking {
    background-color: $silver-color;
}

// Third place
.row.third .cell .ranking {
    background-color: $bronze-color;
}

.content.row:hover {
    background-color: #323237;
}



tbody tr.me {
    background-color: #264D2A;
}

tbody tr.click {
    cursor: pointer;
}

.td-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}