<table>
    <thead>
        <tr>
            <th></th>
            <th class="player">Player</th>
            <th *ngFor="let item of attributes | keyvalue: originalOrder">{{item.value}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows; let i = index" [ngClass]="{'me': row.userid === myID}">
            <td><div class="ranking">#{{ i + 1 }}</div></td>
            <td class="player">{{row.username}} <app-online-indicator *ngIf="onlineUserIDs" [status]="getOnlineStatus(row.userid)" /> </td>
            <td *ngFor="let item of attributes | keyvalue: originalOrder" [ngStyle]="{color: getCellColor(row, item.key)}" [innerHTML]="getRowAttribute(row, item.key)"></td>
        </tr>
    </tbody>
</table>