@import "../../../../../../styles.scss";


.elo-container {
  background-color: $button-active-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  height: 100%;
  box-sizing: border-box;

  padding-block-start: 15px;
  padding-inline: 15px;

  width: 160px;

}

.elo-container h2 {
  font-family: $main-font;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.elo-container h1 {
  font-family: $main-font;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
}

.elo-container h3 {
  font-family: $main-font;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}