@keyframes slideIn {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-120%);
    }
  }
  
  .alert {
    pointer-events: all;
    cursor: pointer;
    animation: slideIn 0.7s ease forwards;
  
    background-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
  
    padding: 10px 15px;

    transition: box-shadow 0.2s, filter 0.2s;

    &.slide-out {
      animation: slideOut 0.9s ease forwards;
    }
  }

  .alert:hover {
    // shiny
    box-shadow: 0 0 5px 0.5px rgba(255, 255, 255, 0.4);

    // brightness filter
    filter: brightness(1.15);


  }
  