<div class="sidebar" *ngIf="(serverStatsService.getServerStats$() | async)?.environment as env">
    <div class="sidebar-top">
        <img class="logo" src="./assets/img/branding/tetrisfish_logo.svg" width="110px" />
        <img class="logo-small" src="./assets/img/branding/tetrisfish_logo.svg" width="50px" />
        <!-- <h1 class="brand-name">nestris.org</h1> -->


        <app-profile-tab  class="profile-tab" *ngIf="(meService.get$() | async)"/>

        <div class="login-container" *ngIf="!(meService.get$() | async)">
            <app-solid-button class="login-button big"
            [stretch]="true"
            [color]="ButtonColor.BLUE" label="Login" (click)="websocketService.login()" />
            <app-solid-button class="login-button small"
            [stretch]="true" [fontSize]="12"
            [color]="ButtonColor.BLUE" label="Login" (click)="websocketService.login()" />
        </div>
        
        <app-sidebar-tab [orange]="true" [tab]="TabID.CONTROL_PANEL" *ngIf="showControlPanel(meService.get$() | async)"/>

        <app-sidebar-tab [tab]="TabID.FRIENDS">
            <p class="online-users">{{(numOnlineFriends$ | async)}}</p>
            <app-online-indicator [isOnline]="((numOnlineFriends$ | async) ?? 0) > 0" />
        </app-sidebar-tab>
        <app-sidebar-tab *ngIf="env!==DeploymentEnvironment.PRODUCTION" [tab]="TabID.SETTINGS"/>

        <app-sidebar-tab class="play-tab" [tab]="TabID.PLAY" />
        <app-sidebar-tab *ngIf="env!==DeploymentEnvironment.PRODUCTION" [tab]="TabID.REVIEW"/>
        <!-- <app-sidebar-tab *ngIf="env!==DeploymentEnvironment.PRODUCTION" [tab]="TabID.LEARN"/> -->
        <app-sidebar-tab [tab]="TabID.LEADERBOARD"/>
    </div>
    <div class="sidebar-bottom">
        <app-ocr-button *ngIf="(meService.get$() | async)?.login_method !== LoginMethod.GUEST"
            [state]="(ocrState$ | async) ?? OCRState.DISCONNECTED" />
        <app-sign-out *ngIf="(websocketService.onSignInUpdate() | async)" />
    </div>
    
    
</div>