<div class="sidebar">
    <div class="sidebar-top">
        <img class="logo" src="./assets/img/branding/tetrisfish_logo.svg" width="110px" />
        <img class="logo-small" src="./assets/img/branding/tetrisfish_logo.svg" width="50px" />
        <!-- <h1 class="brand-name">nestris.org</h1> -->


        <app-profile-tab  class="profile-tab"/>
        
        <app-sidebar-tab [orange]="true" [tab]="TabID.CONTROL_PANEL" *ngIf="showControlPanel(websocketService.getUser$() | async)"/>

        <app-sidebar-tab [tab]="TabID.FRIENDS">
            <p class="online-users">{{(numOnlineFriends$ | async)}}</p>
            <app-online-indicator [status]="!(numOnlineFriends$ | async) ? OnlineUserStatus.OFFLINE : OnlineUserStatus.IDLE" />
        </app-sidebar-tab>
        <app-sidebar-tab [tab]="TabID.SETTINGS"/>

        <app-sidebar-tab class="play-tab" [tab]="TabID.PLAY" />
        <app-sidebar-tab [tab]="TabID.REVIEW"/>
        <app-sidebar-tab [tab]="TabID.LEARN"/>
        <app-sidebar-tab [tab]="TabID.PUZZLES"/>
        <app-sidebar-tab [tab]="TabID.LEADERBOARD"/>
    </div>
    <div class="sidebar-bottom">
        <ng-container *ngIf="(serverStats.getServerStats$() | async) as stats">
            <div *ngIf="stats.environment !== DeploymentEnvironment.PRODUCTION" class="environment">
                <p>{{stats.environment}}</p>
            </div>
        </ng-container>
        <app-sign-out *ngIf="(websocketService.onSignInUpdate() | async)" />
    </div>
    
    
</div>