@import "../../../../../styles.scss";

.sidebar {
    background-color: $section-color;
    height: 100%;
    border-radius: 10px;

    width: 280px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 20px;
    align-self: center;
}

.brand-name {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: -10px;
    align-self: center;
}

.profile-tab {
    margin-top: 20px;
}

.home-tab {
    margin-top: 35px;
}

.logo-small {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
       width: 60px;
    }

    .logo-small {
        display: block;
        margin-top: 18px;
    }

    .logo, .brand-name {
        display: none;
    }
}