<div class="modal">
    <div class="banner-container" *ngIf="getScores() as scores" [ngClass]="winningColor(scores)">
        <h1>{{getBannerText(scores)}}</h1>
    </div>
    <div class="body">
        <div class="content">
            <div class="players">
                <div class="player" *ngFor="let color of ['blue', 'red']" [ngClass]="color">
                    <h1>{{data.match.playerInfo[getPlayer(color)].username}}</h1>
                </div>
            </div>
            <div class="game-container" *ngFor="let point of data.match.points" [ngClass]="getPointWinnerColor(point)">
                <div class="point blue">
                    <app-solid-button icon="./assets/img/button-icons/analyze-blue.svg" [color]="ButtonColor.GREY" />
                    <p class="score">{{getScoreForPoint(point, 'blue')}}</p>
                </div>
                <p class="result-text">{{getPointText(point)}}</p>
                <div class="point red">
                    <p class="score">{{getScoreForPoint(point, 'red')}}</p>
                    <app-solid-button icon="./assets/img/button-icons/analyze-red.svg" [color]="ButtonColor.GREY" />
                </div>
            </div>
        </div>
        <div class="buttons">
            <app-solid-button label="Exit" [color]="ButtonColor.RED" (click)="leaveMatch()" />
            <app-solid-button label="New Match" [color]="ButtonColor.BLUE" (click)="newMatch()" />
        </div>
    </div>
</div>