<div class="puzzle">

  <div class="header">
    <div class="creator-div">
      <img class="creator-icon" src="./assets/img/tab-icons/profile.svg" height="15px">
      <p class="creator prevent-select">{{puzzle.creator}}</p>
    </div>
  </div>

  <div class="body">

    <app-nes-board [scale]="1" [board]="board" />

    <div class="stats">
      <div class="stat">
        <p>Current</p>
        <app-nes-piece [piece]="puzzle.current" />
      </div>
      <div class="stat">
        <p>Next</p>
        <app-nes-piece [piece]="puzzle.next" />
      </div>
    </div>

    <div class="buttons">
      <app-solid-button icon="./assets/img/puzzle-button-icons/delete.svg" [color]="ButtonColor.GREY" (click)="deletePuzzle()" tooltip="Delete puzzle" />
      <app-solid-button icon="./assets/img/puzzle-button-icons/edit.svg" [color]="ButtonColor.GREY" [disabled]="true" tooltip="Edit puzzle not implemented yet" />
      <app-solid-button icon="./assets/img/puzzle-button-icons/add.svg" [color]="ButtonColor.GREY" [disabled]="true" tooltip="Add to folder not implemented yet" />
      <app-solid-button icon="./assets/img/puzzle-button-icons/link.svg" [color]="ButtonColor.GREY" (click)="copyPuzzleLink()" tooltip="Copy puzzle link" />
      <app-solid-button icon="./assets/img/puzzle-button-icons/play.svg" [color]="ButtonColor.BLUE" (click)="play()" tooltip="Play puzzle" />
    </div>

  </div>

</div>