@import "../../../../../styles.scss";


.puzzle {
  background-color: $subsection-color;
  border-radius: 10px;

  width: 100%;
  box-sizing: border-box;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  
}

// @media screen and (min-width: 1000px) {
//   :host {
//     flex-grow: 1;
//     width: calc(100% * (1/2))
//   }
// }

.vertical-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.creator-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 3px;
}

.creator {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;

  padding: 2px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat p {
  font-family: $main-font;
  font-size: 12px;
  font-weight: 600;
  text-wrap: nowrap;
  margin: 5px;
}

.stat h1 {
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  text-wrap: nowrap;
  margin: 0;
}