<div class="modal" *ngIf="summary$ | async as summary">
    <div class="content">
        <p class="phrase">{{emulatorService.getLastGameFeedback()}}</p>

        <div class="group">
            <p class="score">{{numberWithCommas(summary.score)}}</p>
            <p class="score-label" [ngClass]="{ 'pb' : summary.isPersonalBest}">{{summary.isPersonalBest ? 'New personal best!' : 'Your score'}}</p>
            
        </div>

        <div class="cols">

            <div class="group stat">
                <h1>{{summary.linesCleared}}</h1>
                <p>Lines cleared</p>
            </div>

            <div class="group stat">
                <h1>{{summary.tetrisCount}}</h1>
                <p>Quads Scored</p>
            </div>

            <div class="group stat">
                <h1 [ngStyle]="{ 'color' : getAccuracyColor(summary.accuracy ?? 0) }">{{summary.accuracy}}%</h1>
                <p>Game Accuracy</p>
            </div>

        </div>

        <app-game-summary-graph [game]="emulatorService.getLastGameStatus()!" />

    </div>

    <div class="buttons">
        <app-solid-button label="Exit" [color]="ButtonColor.RED" (click)="exit()" />
        <div class="buttons-right">
            <app-solid-button icon="./assets/img/button-icons/analyze.svg" [color]="ButtonColor.GREY" [disabled]="true" tooltip="Analysis coming soon!" />
            <app-solid-button label="Next" [color]="ButtonColor.BLUE" (click)="next()" />
            <!-- TODO: keybinds button here -->
        </div>
    </div>
</div>