@import "../../../../../styles.scss";

.chat {
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 7px;

    height: 400px;
    overflow-y: hidden;
}

.num-players {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    margin-bottom: 5px;
}

.num-players p {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.main {
    width: 280px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-entry {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    gap: 7px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea, .disabled-message {
    font-family: $chat-font;
    color: white;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    resize: none;
}

.disabled-message {
    font-style: italic;
    opacity: 0.7;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

textarea::placeholder {
    color: white;
    font-family: $chat-font;
    opacity: 0.7;
    font-size: 11px;
}

.submit-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.submit-button.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.username {
    font-family: $main-font;
    font-size: 11px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.text {
    font-family: $chat-font;
    font-size: 11px;
    color: white;
    font-weight: 500;
    margin: 0;
    overflow-wrap: anywhere;
}

.fade {
    -webkit-mask-image: linear-gradient(0deg, #000 60%, transparent);
}

.expanding-div {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    animation: expand 0.5s ease-out forwards;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }
    50% {
        opacity : 1;
    }
    to {
        max-height: 100px;
        opacity: 1;
    }
}