<div class="chat fade">

    <div class="num-players">
        <p>{{numSpectators}}</p>
        <img src="assets/img/button-icons/eye.svg" width="14px">
    </div>

    <div class="main">

        <div class="message expanding-div" *ngFor="let message of messages; trackBy: messageHash">
            <h1 class="username">{{message.username}}</h1>
            <p class="text">{{message.message}}</p>
        </div>

        <div class="text-entry">
            <textarea #textarea *ngIf="!disabledMessage"
                [placeholder]="messages.length === 0 ? 'Begin the conversation...' : 'Send a message...'" 
                [rows]="rows$ | async" (input)="onChange($event)"></textarea>
            <p class="disabled-message" *ngIf="disabledMessage">{{disabledMessage}}</p>
            <img class="submit-button" src="assets/img/button-icons/submit-chat.svg" (click)="clickSubmitButton()"
                width="11px" [ngClass]="{disabled: !!disabledMessage}">
        </div>
    </div>

</div>