<div class="modal">
    <app-stepper class="stepper" [steps]="ALL_CALIBRATION_STEPS" [activeStep]="stepIndex" />

    <p class="description">{{DESCRIPTIONS[currentStep]}}</p>

    <div class="content">

        <div class="select-video-source" *ngIf="currentStep === CalibrationStep.SELECT_VIDEO_SOURCE">
            <div class="col left">

                <app-solid-button [color]="ButtonColor.BLUE" label="Screen Capture"
                    tooltip="Capture gameplay from an emulator on this computer through screen capture"
                    (click)="setScreenCapture()" />
                
                <select [ngModel]="videoCapture.selectedDevice$ | async" (ngModelChange)="videoCapture.selectedDevice$.next($event)" (change)="setVideoCapture()">
                    <option *ngFor="let device of (videoCapture.getVideoDevices$() | async)" [ngValue]="device">
                        {{ (device === null) ? "...or select a video device" : device.label }}
                    </option>
                </select>

            </div>
            <div class="col">
                <app-preview-canvas />
            </div>
        </div>

        <div class="locate-tetris-board" *ngIf="currentStep === CalibrationStep.LOCATE_TETRIS_BOARD">
            <div class="col">
                <app-preview-canvas [showBoundingBoxes]="true" />
            </div>
            <div class="col">

                <!-- If OCRFrame, show the current frame's OCR board -->
                <app-layout-one *ngIf="(videoCapture.getCurrentFrame$() | async)?.ocrFrame as frame"
                    [board]="frame.getColorBoard(ocrFrameData$.getValue()?.level ?? 18)"
                    [nextType]="frame.getNextType() ?? TetrominoType.ERROR_TYPE"
                    [level]="(ocrFrameData$ | async)?.level ?? null"
                    [score]="(ocrFrameData$ | async)?.score ?? null"
                    [lines]="(ocrFrameData$ | async)?.lines ?? null"
                />

                <!-- If no OCRFrame, show an empty board with text to click on empty part of tetris board -->
                <app-nes-board *ngIf="!((videoCapture.getCurrentFrame$() | async)?.ocrFrame)" [hide]="true" [scale]="1.3">
                    <h2 class="no-board-text">Click on an empty part of the tetris board!</h2>
                </app-nes-board>
            </div>
        </div>

        <!-- <div class="verify-ocr" *ngIf="currentStep === CalibrationStep.VERIFY_OCR"></div> -->

    </div>
    <div class="buttons">
        <app-solid-button [color]="ButtonColor.RED" label="Play on browser instead" class="cancel" (smartClick)="cancel()" />
        <app-solid-button [color]="ButtonColor.GREY" label="Back"
            [disabled]="!previousAllowed()" (click)="previous()" />
        <app-solid-button [color]="ButtonColor.BLUE" [label]="isLastStep() ? 'Save' : 'Next'"
            *ngIf="nextAllowed() as allowed"
            [tooltip]="allowed === true ? '' : allowed"
            [disabled]="allowed !== true" (smartClick)="next()" />
    </div>
</div>