<div class="modal">
    <app-stepper class="stepper" [steps]="ALL_CALIBRATION_STEPS" [activeStep]="stepIndex" />

    <p class="description">{{DESCRIPTIONS[currentStep]}}</p>

    <div class="content">

        <div class="select-video-source" *ngIf="currentStep === CalibrationStep.SELECT_VIDEO_SOURCE">
            <div class="col left">

                <app-solid-button [color]="ButtonColor.BLUE" label="Screen Capture"
                    tooltip="Capture gameplay from an emulator on this computer through screen capture"
                    (click)="setScreenCapture()" />
                
                <select [ngModel]="videoCapture.selectedDevice$ | async" (ngModelChange)="videoCapture.selectedDevice$.next($event)" (change)="setVideoCapture()">
                    <option *ngFor="let device of (videoCapture.getVideoDevices$() | async)" [ngValue]="device">
                        {{ (device === null) ? "...or select a video device" : device.label }}
                    </option>
                </select>

            </div>
            <div class="col">
                <app-preview-canvas [enableCalibrationClick]="false" />
            </div>
        </div>

        <div class="locate-tetris-board" *ngIf="currentStep === CalibrationStep.LOCATE_TETRIS_BOARD">
            <div class="col">
                <app-preview-canvas [showBoundingBoxes]="true" [enableCalibrationClick]="true" />
            </div>
            <div class="col">
                <app-ocr-layout
                    [frameWithContext]="videoCapture.getCurrentFrame$() | async"
                    [ocrFrameData]="ocrFrameData$ | async"
                    error="Click on an empty part of the tetris board!"
                />
            </div>
        </div>

        <div class="verify-ocr" *ngIf="currentStep === CalibrationStep.VERIFY_OCR">

            <ng-container *ngIf="ocrVerifier?.getStatus$() | async as status">

                <div class="col">

                    <ng-container *ngIf="status.newGame">
                        <app-layout-one class="game" *ngIf="(platform.getGameDataWithoutBoard$() | async) as data"
                            [canvasBoard]="platform.getGameBoard$()"
                            [nextType]="data.nextPiece"
                            [level]="data.level"
                            [lines]="data.lines"
                            [score]="data.score"
                        />
                    </ng-container>
                    
                    <app-ocr-layout *ngIf="!status.newGame"
                        [frameWithContext]="videoCapture.getCurrentFrame$() | async"
                        [ocrFrameData]="ocrFrameData$ | async"
                        error="An error occured. Please go back to the previous step."
                    />
                </div>

                <div class="col checklist">
                    <h1>Verification checklist</h1>
                    <div class="item">
                        <app-correctness-icon width="10px" [correct]="(ocrFrameData$ | async)?.level === 0" />
                        <p>Level 0 start</p>
                    </div>
                    <div class="item">
                        <app-correctness-icon width="10px" [correct]="status.newGame" />
                        <p>Start new game</p>
                    </div>
                    <div class="item">
                        <app-correctness-icon width="10px" [correct]="status.firstPiece" />
                        <p>First piece placed correctly</p>
                    </div>
                    <div class="item">
                        <app-correctness-icon width="10px" [correct]="status.nextPiece" />
                        <p>Second piece placed correctly</p>
                    </div>
                    
                </div>

            </ng-container>

            

        </div>

    </div>
    <div class="buttons">
        <app-solid-button [color]="ButtonColor.RED" label="Play on browser instead" class="cancel" (smartClick)="cancel()" />
        <app-solid-button [color]="ButtonColor.GREY" label="Back"
            [disabled]="!previousAllowed()" (click)="previous()" />
        <app-solid-button [color]="ButtonColor.BLUE" [label]="isLastStep() ? 'Save' : 'Next'"
            *ngIf="nextAllowed() as allowed"
            [tooltip]="allowed === true ? '' : allowed"
            [disabled]="allowed !== true" (smartClick)="next()" />
    </div>
</div>