<app-modal class="modal" [visibility$]="visibility$">
   <div class="container">
      <h1 class="header">Search for players</h1>
      <input type="text" id="username" placeholder="Type a username..."
      [ngModel]="pattern" (ngModelChange)="onPatternChange($event)" autocomplete="off" autofocus>

      <h2 class="loading" *ngIf="false" >Loading...</h2>
      <div class="usernames" *ngIf="true">
         <ng-container *ngFor="let potentialFriend of (potentialFriends$ | async)">
            <div class="username" *ngIf="true">
               <p class="username-text">{{potentialFriend.username}}</p>
               <app-friend-icon [status]="potentialFriend.friendStatus" (click)="addFriend(potentialFriend)" />
            </div>
         </ng-container>
      </div>
   </div>   
  </app-modal>