<div class="summary-container">

  <ng-container *ngIf="(attemptStats$ | async) as stats">
 
    <div class="row">
      <h1>Puzzles attempted</h1>
      <p>{{stats.puzzlesAttempted}}</p>
    </div>

    <div class="row">
      <h1>Puzzles solved</h1>
      <p>{{stats.puzzlesSolved}}</p>
    </div>

    <div class="row">
      <h1>Overall success rate</h1>
      <p>{{overallSuccessRate(stats)}}</p>
    </div>

    <div class="row gap">
      <h1>Average solve duration</h1>
      <p>{{solveDuration(stats)}}</p>
    </div>

    <div class="row" *ngFor="let item of stats.successRateForRating | keyvalue">
      <h1><app-rating-stars [rating]="keyAsRating(item.key)" [width]="50" /> success rate</h1>
      <p>{{roundPercent(item.value)}}</p>
    </div>

  </ng-container>

</div>
