@import "../../../../../styles.scss";

.container {
  background-color: $transparent-green-color;
  border-radius: 5px;

  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-left, .container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-left {
  justify-content: flex-start;
}

.container-right {
  justify-content: flex-end;
  margin-right: 10px;
  gap: 5px;
  align-items: center;
}

p {
  font-family: $main-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
}
