<div class="container">
  <div class="container-left">
    <p *ngIf="isSender">You challenged {{challenge.receiverUsername}} to a match (First to {{challenge.winningScore}})</p>
    <p *ngIf="!isSender">{{challenge.senderUsername}} challenged you to a match (First to {{challenge.winningScore}})</p>
</div>
  <div class="container-right">
    <app-solid-button *ngIf="!isSender"
      icon="./assets/img/ui-icons/checkmark.svg" [color]="ButtonColor.GREY"
      (click)="acceptChallenge()" tooltip="Accept Challenge" />
    <app-solid-button
      icon="./assets/img/ui-icons/x.svg" [color]="ButtonColor.GREY"
      (click)="rejectChallenge()" [tooltip]="isSender ? 'Cancel Challenge' : 'Reject Challenge'" />
  </div>
</div>
