@import "../../../../styles.scss";

.game-over {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.game-over.win {
    background-color: rgba(0, 255, 0, 0.4);
}

.game-over.lose, .game-over.topout {
    background-color: rgba(255, 0, 0, 0.4);
}

.game-over.tie {
    background-color: rgba(255, 255, 0, 0.4);
}

.game-over.ready {
    background-color: rgba(255, 255, 255, 0.2);
}

.game-over h1 {
    font-family: 'NES';
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.next-button {
    border: solid white 2px;
    border-radius: 3px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-inline: 5px;

    display: flex;
    align-items: center;;
    justify-content: center;
    cursor: pointer;
}

.next-button:hover {
    opacity: 0.7;
}

.next-button p {
    font-family: 'NES';
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.next-button.no-button {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}