<div class="left"></div>

<div class="main">
    <app-layout-one class="game" *ngIf="(platform.getGameData$() | async) as data"
        [board]="data.board"
        [nextType]="data.nextPiece"
        [level]="data.level"
        [lines]="data.lines"
        [score]="data.score"
        [countdown]="data.countdown"
        [trt]="data.trt"
        [gameOver]="(soloClientRoom.getSoloState$() | async) === SoloClientState.TOPOUT ? GameOverMode.TOPOUT : undefined"
        [gameOverShowNext]="true"
        (clickNext)="clickNextOnTopout()"
/>
</div>
<div class="right"></div>