<div class="left"></div>

<div class="main">
    <app-layout-one class="game" *ngIf="(platform.getGameData$() | async) as data"
        [board]="data.board"
        [nextType]="data.nextPiece"
        [level]="data.level"
        [lines]="data.lines"
        [score]="data.score"
        [countdown]="data.countdown"
        [trt]="data.trt"
        [gameOver]="(soloClientRoom.getSoloState$() | async) === SoloClientState.TOPOUT ? GameOverMode.TOPOUT : undefined"
        [gameOverShowNext]="true"
        (clickNext)="clickNextOnTopout()"
/>
</div>
<div class="right">
    <div class="previous-games-panel fade" [ngClass]="{'seven-digit': hasSevenDigits(soloGamesList$ | async)}">

        <div class="previous-game" *ngFor="let game of (soloGamesList$ | async)?.games; trackBy: soloGameHash">
            <div class="score-container"><p class="score">{{padScore(game.score)}}</p></div>
            <p class="xp">+{{game.xp}}XP</p>
        </div>

        <h1>Previous Games</h1>

    </div>
</div>