<div class="left"></div>

<div class="main">
    <app-layout-one class="game" *ngIf="(platform.getGameDataWithoutBoard$() | async) as data"
        [canvasBoard]="platform.getGameBoard$()"
        [nextType]="data.nextPiece"
        [level]="data.level"
        [lines]="data.lines"
        [score]="data.score"
        [countdown]="data.countdown"
        [trt]="data.trt"
        [gameOver]="(soloClientRoom.getSoloState$() | async) === SoloClientState.TOPOUT ? GameOverMode.TOPOUT : undefined"
        [gameOverShowNext]="true"
        (clickNext)="clickNextOnTopout()"
        [showEvalBar]="showAnalysis"
        [ratedMove]="getRatedMove(emulator.getCurrentPlacementEvaluation$() | async)"
        [keybinds]="getKeybinds()"
/>
</div>
<div class="right">
    <div class="previous-games-panel fade" [ngClass]="{'seven-digit': hasSevenDigits(previousGames$ | async)}">

        <div class="previous-game" *ngFor="let game of (previousGames$ | async); trackBy: soloGameHash" [ngClass]="{'expanding-div' : !soloClientRoom.isOriginalGame(game.gameID)}">
            <div class="score-container"><p class="score">{{padScore(game.score)}}</p></div>
            <p class="xp">+{{game.xp}}XP</p>
        </div>

        <h1>Previous Games</h1>

    </div>
</div>