@import "../../../../styles.scss";

.trophy-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 270px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
}


.delta.positive {
    transform: translateY(20px); 
    animation: fadeInUp 0.5s forwards;
}

.delta.negative {
    transform: translateY(-20px); 
    animation: fadeInDown 0.5s forwards;
}

.delta {
    opacity: 0;
    animation-delay: 0.6s !important;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px 10px;
    font-family: $main-font;
    font-weight: 600;
    font-size: 12px;
    font-style: italic;
}