<app-nes-board [board]="getBoard((index$ | async) ?? 0)" [scale]="2.5"
  [activePiece]="(hoveredMove$ | async)?.firstPlacement"
  [nextPiece]="(hoveredMove$ | async)?.secondPlacement"
  [activePieceOpacity]="0.7"
  [nextPieceOpacity]="0.5"

 />

<div>

  <div class="piece-box">
    <p>Current Piece</p>
    <app-nes-piece [piece]="getCurrentPiece((index$ | async) ?? 0)" [scale]="2.5" />
  </div>
  
  <div class="piece-box">
    <p>Next Piece</p>
    <app-nes-piece [piece]="getNextPiece((index$ | async) ?? 0)" [scale]="2.5" />
  </div>

  <p>Rating: {{getRating((index$ | async) ?? 0)}}</p>
  <p>Theme: {{getTheme((index$ | async) ?? 0)}}</p>

  <div>
    <p *ngFor="let item of ratings | keyvalue">{{item.key}}: {{item.value}}</p>
  </div>

</div>

<div class="engine-div">
  <h2 class="prevent-select">Engine NB</h2>
  <div class="engine-container">
    <div class="labels table-rows">
      <p class="left-label">Score</p>
      <p>Current</p>
      <p>Next</p>
    </div>

    <div class="engine-move table-rows" *ngFor="let move of (moveRecommendations$ | async)"
      (mouseenter)="hoverEngineMove(move)" (mouseleave)="hoverEngineMove(undefined)"
    >
      <p class="left">{{ (move.score > 0 ? ('+' + move.score) : move.score) }}</p>
      <p>{{ move.firstPlacement.getTetrisNotation() }}</p>
      <p>{{ move.secondPlacement.getTetrisNotation() }}</p>
    </div>

  </div>
</div>

<div class="engine-div">
  <h2 class="prevent-select">Engine Shallow</h2>
  <div class="engine-container">
    <div class="labels table-rows">
      <p class="left-label">Score</p>
      <p>Current</p>
      <p>Next</p>
    </div>

    <div class="engine-move table-rows" *ngFor="let move of (moveRecommendationsShallow$ | async)"
      (mouseenter)="hoverEngineMove(move)" (mouseleave)="hoverEngineMove(undefined)"
    >
      <p class="left">{{ (move.score > 0 ? ('+' + move.score) : move.score) }}</p>
      <p>{{ move.firstPlacement.getTetrisNotation() }}</p>
      <p>{{ move.secondPlacement.getTetrisNotation() }}</p>
    </div>

  </div>
</div>


<div class="engine-div">
  <h2 class="prevent-select">Engine NNB</h2>
  <div class="engine-container">
    <div class="labels table-rows">
      <p class="left-label">Score</p>
      <p>Current</p>
    </div>

    <div class="engine-move table-rows" *ngFor="let move of (moveRecommendationsNNB$ | async)"
      (mouseenter)="hoverEngineMove(move)" (mouseleave)="hoverEngineMove(undefined)"
    >
      <p class="left">{{ (move.score > 0 ? ('+' + move.score) : move.score) }}</p>
      <p>{{ move.firstPlacement.getTetrisNotation() }}</p>
    </div>

  </div>
</div>