app-layout-one {
    zoom: 0.45;
}

.no-board-text {
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    width: 90%;
}