.icon-disabled {
  opacity: 0.4;
  cursor: pointer;
}

.icon-disabled:hover {
  opacity: 0.6;
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}