<div class="main" *ngIf="me$ | async as me">
    <h1 class="header">Welcome back, {{me.username}}!</h1>

    <section class="profile">
        <div class="league-container">
            <app-league-icon [league]="me.league" [height]="150" />
            <app-xp-info [league]="me.league" [xp]="me.xp" barWidth="180px" />
        </div>
        <div class="quest-container">
            <div class="quest-header">
                <h1>Ongoing quests</h1>
            </div>
            <div class="quest" *ngFor="let quest of (quests$ | async)"
                [ngStyle]="{'borderColor' : questColor(quest) , 'backgroundColor': hexWithAlpha(questColor(quest), 0.03) }">
                <app-quest [name]="quest.name" [status]="quest.currentScore" />
            </div>
        </div>
    </section>

    <section class="mode-select" *ngIf="leaderboards$ | async as leaderboards">
        <h1 class="label">Select mode</h1>
        <div class="mode border-color" *ngFor="let mode of modes" [ngClass]="mode" (click)="onClickMode(mode)">
            <div class="left">
                <app-mode-icon [mode]="mode" [width]="100" />
                <div class="text prevent-select">
                    <h1 class="color prevent-select" [ngClass]="mode">{{capitalize(mode)}}</h1>
                    <p class="color prevent-select" [ngClass]="mode">{{leaderboards[mode].playingNow}} playing now</p>
                </div>
            </div>
            <div class="right">
                <div class="leaderboard">
                    <div class="row" *ngFor="let i of [0,1,2]">
                        <div class="row-content border-color background-color"
                            *ngIf="leaderboards[mode].leaderboard[i] as player" [ngClass]="[mode, isMe(player.userid) ? 'me' : '']">
                            <div class="row-left">
                                <p class="rank color" [ngClass]="mode">#{{player.rank}}</p>
                                <p class="username color" [ngClass]="mode">{{player.username}}</p>
                            </div>
                            <app-highest-score *ngIf="mode === Mode.SOLO" [highestScore]="player.score" [size]="13"  />
                            <app-trophies *ngIf="mode === Mode.RANKED" [trophies]="player.score" [size]="13" color="#FF4C4C" />
                            <app-puzzle-elo *ngIf="mode === Mode.PUZZLES" [puzzleElo]="player.score" [size]="13" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </section>
</div>