<h1 class="header">Select Platform</h1>

<section class="platform-section">
    <div class="platform online" [ngClass]="(platformService.onPlatformChange() | async) === Platform.ONLINE ? 'selected' : ''" (click)="platformService.setPlatform(Platform.ONLINE)" >
        <h1 class="platform-label">Play Online</h1>
        <img class="platform-icon" height="110px" src="./assets/img/button-icons/platform-icons/online-platform.png">
        <p class="platform-description">
            Just playing on your computer? Select this option!
        </p>
        <app-solid-button [color]="ButtonColor.BLUE" class="platform-button"
            label="Edit keybindings"
            icon="./assets/img/button-icons/calibrate.svg"
            />
    </div>
    <div class="platform ocr"[ngClass]="(platformService.onPlatformChange() | async) === Platform.OCR ? 'selected' : ''" (click)="onClickOCRPlatform()">
        <h1 class="platform-label">OCR Capture</h1>
        <img class="platform-icon" height="78px" src="./assets/img/button-icons/platform-icons/ocr-platform.png">
        <p class="platform-description">
            Have an actual NES console? You can capture gameplay through capture card!
        </p>
        <app-solid-button [color]="ButtonColor.BLUE" class="platform-button"
            label="Setup Calibration"
            icon="./assets/img/button-icons/calibrate.svg"
            (click)="setupCalibration()"
             />
        <p class="platform-error" [ngStyle]="{
            opacity: (videoCapture.getCalibrationValid$() | async) ? 0 : 1
        }">Calibration not yet set</p>
    </div>
</section>

<h1 class="header">Select Gamemode</h1>

<section class="play-section">

    <div class="play-container hoverable" (click)="playSolo()">
        <h1>Solo</h1>
        <img src="./assets/img/button-icons/play-icons/solo.svg" width="220px">
        <p>
            Improve your stacking skills and gain XP in solo mode!
        </p>
    </div>
    <a routerLink="/online/multiplayer"><div class="play-container hoverable">
        <h1>Versus</h1>
        <img src="./assets/img/button-icons/play-icons/versus.svg" width="220px">
        <p>
            Gain trophies and move up the leagues by winning matches!
        </p>
    </div></a>
    <a routerLink="/online/sandbox"><div class="play-container hoverable">
        <h1>Sandbox</h1>
        <img src="./assets/img/button-icons/play-icons/sandbox.svg" width="220px">
        <p>
            Create rooms to play unranked games with friends!
        </p>
    </div></a>