:host {
  display: flex;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
}

.root {
  display: flex;
  flex-direction: row;

  
  flex: 1;
  height: 100%;
  overflow: auto;

  box-sizing: border-box;

  position: relative
}

// make page content scroll but not sidebar
.content {
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.content-with-padding {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
}