:host {
  display: flex;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
}

.root {
  display: flex;
  flex-direction: row;

  height: auto;
  flex-grow: 1;
  box-sizing: border-box;

  position: relative
}

// make page content scroll but not sidebar
.content {
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}

.content-with-padding {
  margin: 15px;
}