<img *ngIf="rating === PuzzleRating.UNRATED" src="./assets/img/rating-icons/star-empty.svg" [width]="width">
<img *ngIf="rating === PuzzleRating.ONE_STAR" src="./assets/img/rating-icons/star-1.svg" [width]="width">
<img *ngIf="rating === PuzzleRating.TWO_STAR" src="./assets/img/rating-icons/star-2.svg" [width]="width">
<img *ngIf="rating === PuzzleRating.THREE_STAR" src="./assets/img/rating-icons/star-3.svg" [width]="width">
<img *ngIf="rating === PuzzleRating.FOUR_STAR" src="./assets/img/rating-icons/star-4.svg" [width]="width">
<img *ngIf="rating === PuzzleRating.FIVE_STAR" src="./assets/img/rating-icons/star-5.svg" [width]="width">
<img *ngIf="rating === PuzzleRating.SIX_STAR" src="./assets/img/rating-icons/star-6.svg" [width]="width * 1.198">