<div class="root" *ngIf="!(sidebarTabService.getIsFullscreenMode() | async)">
    <app-sidebar class="sidebar" [isSignedIn]="(websocketService.onSignInUpdate() | async) ?? false" />
    <div class="content" *ngIf="sidebarTabService.getSelectedTab() | async as selectedTab">

        <div class="content-with-padding">
            <app-friend-page class="page" *ngIf="selectedTab.tab === TabID.FRIENDS" />
            <app-home-page class="page" *ngIf="selectedTab.tab === TabID.HOME" />
            <app-play-page class="page" *ngIf="selectedTab.tab === TabID.PLAY" />
            <app-puzzles-page class="page" *ngIf="selectedTab.tab === TabID.PUZZLES" />
        </div>

    </div>
</div>

<ng-container *ngIf="(sidebarTabService.getIsFullscreenMode() | async)">
    <ng-container *ngIf="sidebarTabService.getSelectedTab() | async as selectedTab">
        <app-solo-page class="fullscreen" *ngIf="selectedTab.tab === TabID.SOLO" />

        <!-- SHOULD BE MULTIPLE PAGE, TESTING PURPOSES ONLY -->
        <app-solo-page class="fullscreen" *ngIf="selectedTab.tab === TabID.MULTIPLAYER" />

    </ng-container>
</ng-container>

<app-modal-container />