<div class="root" *ngIf="(sidebarTabService.getFullscreenMode() | async) === FullscreenMode.DISABLED">
    <app-sidebar class="sidebar" [isSignedIn]="(websocketService.onSignInUpdate() | async) ?? false" />
    <ng-container *ngIf="sidebarTabService.getSelectedTab() | async as selectedTab">
        <app-friend-page *ngIf="selectedTab.tab === TabID.FRIENDS" />
        <app-home-page *ngIf="selectedTab.tab === TabID.HOME" />
        <app-play-page *ngIf="selectedTab.tab === TabID.PLAY" />
        <app-puzzles-page *ngIf="selectedTab.tab === TabID.PUZZLES" />
    </ng-container>
</div>

<ng-container *ngIf="(sidebarTabService.getFullscreenMode() | async) as mode">
    <app-solo-page class="fullscreen" *ngIf="mode === FullscreenMode.SOLO" />
    <app-multiplayer-page class="fullscreen" *ngIf="mode === FullscreenMode.MULTIPLAYER" />
</ng-container>

<notifier-container></notifier-container>