@import "../../../../styles.scss";

.keybind {
    background-color: $dark-color;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    padding: 6px 8px;

    transition: opacity 0.1s ease, filter 0.1s ease;
}

.keybind:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: brightness(1.1);
}

img {
    display: block;
    opacity: 0.5;
}

p {
    font-family: $main-font;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: white;
    opacity: 0.8;
    font-size: 12px;
}