@import "../../../../../styles.scss";

.container {
    background-color: $section-color;
    border-radius: 5px;

    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container-left, .container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-left {
    justify-content: flex-start;
    margin-left: 10px;
    gap: 5px;
}

app-online-indicator {
    margin-left: -7px;
    margin-right: 2px;
}

.container-right {
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
    align-items: center;
}

app-league-icon {
    padding-inline: 3px;
}

.username {
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-wrap: nowrap;

    cursor: pointer;

}

.username:hover {
    opacity: 0.8;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}

@media screen and (max-width: 450px) {
    .container-right app-solid-button:not(.delete) {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .stats {
        display: none;
    }
}