<div class="container" [ngClass]="getStatusClass()">
    <div class="container-left">
        <app-league-icon [league]="friendInfo.league" [height]="27" />
        <p class="username">{{friendInfo.username}}</p>
        <app-online-indicator class="online-indicator" [isOnline]="friendInfo.isOnline" />
        <app-trophies [trophies]="friendInfo.trophies" [size]="14" />
        
        
    </div>
    <div class="container-right">

        <ng-container>

            <app-solid-button icon="./assets/img/button-icons/eye.svg" [color]="ButtonColor.GREY" (smartClick)="spectate()"
                />
                    
            <app-solid-button icon="./assets/img/button-icons/challenge.svg" [color]="ButtonColor.GREY" (smartClick)="sendChallenge()" 
                />
            <app-solid-button icon="./assets/img/puzzle-button-icons/delete.svg" [color]="ButtonColor.GREY" (smartClick)="endFriendship()" tooltip="Remove friend" />
        </ng-container>
        
        
    </div>
</div>