<div class="container">
    <div class="container-left">
        <app-league-icon [league]="friendInfo.league" [height]="27" />
        <p class="username" (click)="viewProfile()">{{friendInfo.username}}</p>
        <app-online-indicator class="online-indicator" [isOnline]="friendInfo.isOnline" [inActivity]="!!friendInfo.activity" />

        <div class="stats">
            <app-highest-score [highestScore]="friendInfo.highestScore" [size]="14" />
            <app-trophies [trophies]="friendInfo.trophies" [size]="14" />
            <app-puzzle-elo [puzzleElo]="friendInfo.puzzleElo" [size]="14" />
        </div>
        
        
    </div>
    <div class="container-right">

        <ng-container>

            <app-solid-button icon="./assets/img/tab-icons/profile.svg" [color]="ButtonColor.GREY" tooltip="View profile" (smartClick)="viewProfile()"/>

            <app-solid-button icon="./assets/img/button-icons/eye.svg" [color]="ButtonColor.GREY" [disabled]="true" tooltip="Coming soon!"
                />
                    
            <app-solid-button icon="./assets/img/button-icons/challenge.svg" [color]="ButtonColor.GREY" [disabled]="true" tooltip="Coming soon!"
                />
            <app-solid-button icon="./assets/img/puzzle-button-icons/delete.svg" class="delete" [color]="ButtonColor.GREY" (smartClick)="endFriendship()" tooltip="Remove friend" />
        </ng-container>
        
        
    </div>
</div>