<div class="columns">

    <app-eval-bar *ngIf="showEvalBar" backgroundColor="black" [borderRadius]="5" [ratedMove]="ratedMove" />

    <app-nes-board [scale]="3" [board]="board" [canvasBoard]="canvasBoard" [level]="level" [countdown]="countdown" (clickNext)="clickNext.emit()"
            [gameOver]="gameOver" [gameOverShowNext]="gameOverShowNext" [animateOpacity]="true" [defaultOpacity]="dimmed ? 0.4 : 1" />


    <div class="panels">

        <app-nes-panel class="score-panel">
            <p class="prevent-select">Score</p>
            <h1 class="prevent-select">{{padScore(score)}}</h1>
        </app-nes-panel>

        <div class="level-lines">
            <app-nes-panel class="level-panel">
                <p class="prevent-select">Level</p>
                <h1 class="prevent-select">{{level}}</h1>
            </app-nes-panel>
            <app-nes-panel class="lines-panel">
                <p class="prevent-select">Lines</p>
                <h1 class="prevent-select">{{lines}}</h1>
            </app-nes-panel>
        </div>

        <app-nes-panel class="next-box-panel">
            <app-nes-piece [scale]="3" [piece]="nextType" [level]="level" [animateOpacity]="true" [opacity]="dimmed ? 0.4 : 1" />
        </app-nes-panel>

        <app-nes-panel [ngClass]="{'drought' : drought}" class="trt-panel">
            <p class="prevent-select">{{drought ? 'DRT' : 'QUAD'}}</p>
            <h2 class="prevent-select">{{drought ?? ((trt*100).toFixed(0) + '%')}}</h2>
        </app-nes-panel>

        <!-- <div class="spacer"></div> -->

        <app-nes-panel class="accuracy-panel" *ngIf="showAccuracy">
            <p class="prevent-select">Accuracy</p>
            <h2 class="prevent-select" [ngStyle]="{'color': accuracyColor(accuracy)}">{{accuracyLabel(accuracy)}}</h2>
        </app-nes-panel>




    </div>
</div>
<p class="keybinds" *ngIf="keybinds" [ngClass]="{'hide' : !countdown}">{{keybinds}}</p>
