<header>
    <img class="logo" src="./assets/img/branding/tetrisfish_logo.svg" width="20px" />
    <p>nestris.org</p>
</header>

<div class="content">
    <div class="top-panel">
        <app-loading-screen [blockSize]="30" [blockSpeed]="0.4" [maxBlocks]="20" [resolution]="2" />
        <div class="top-panel-content">

            <h1 class="score">35,256,127</h1>
            <h2 class="label">games played</h2>

            <h3 class="leaderboard-label">Ranked Leaderboard</h3>
            <div class="leaderboard">
                <ng-container *ngFor="let i of [0,1,2]">
                    <div class="leaderboard-item" *ngIf="LEADERBOARD_COLORS[i] as color"
                    [ngStyle]="{borderColor: color}"
                    >
                        <div class="left">
                            <div class="rank" [ngStyle]="{ color }">#{{i+1}}</div>
                            <div class="username" [ngStyle]="{ color }">Username</div>
                        </div>

                        <div class="right">
                            <div class="trophies" [ngStyle]="{ color }">2984</div>
                        </div>

                    </div>
                </ng-container>
                
            </div>
        </div>
    </div>

    <div class="bottom-row">

        <div class="login-panel bottom-row-panel">

            <div class="login-content">
                <div class="title-content">
                    <div class="title-container">
                        <h1 class="title">The classic game, online.</h1>
                    </div>
                    <img class="logo" src="./assets/img/branding/tetrisfish_logo.svg" [attr.width]="(reallySmall$ | async) ? '60px' : ((big$ | async) ? '140px' : '100px')" />
                </div>
                <p class="online-text">24 players online!</p>

                <div class="info-container">
                    <div class="info-rows">
                        <div class="info-row" *ngFor="let text of INFO_TEXT">
                            <img src="./assets/img/tab-icons/play.svg" [attr.width]="(reallySmall$ | async) ? '10px' : '15px'" />
                            <p>{{text}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <app-solid-button label="Login with Discord" icon="./assets/img/button-icons/discord.svg" color="#5865F2" [gap]="10"
                [stretch]="true" (click)="websocketService.login()" [fontSize]="(small$ | async) ? 12 : 16" [paddingHorizontal]="(small$ | async) ? 12 : 15" [paddingVertical]="(small$ | async) ? 4 : 6" />
                <app-solid-button label="Continue as Guest" color="#1C1C1C"
                [stretch]="true" (click)="websocketService.registerAsGuest()" [fontSize]="(small$ | async) ? 12 : 16" [paddingHorizontal]="(small$ | async) ? 12 : 15" [paddingVertical]="(small$ | async) ? 4 : 6"/>
            </div>
            <p class="username-login prevent-select" (click)="passwordLogin()">Or login with username and password...</p>

        </div>
        <div class="play-panel bottom-row-panel">
            <div class="play-main" *ngIf="(platform.getGameData$() | async) as gameData">
                <app-nes-board [scale]="windowWidth * 0.0014 * ((this.small$ | async) ? 3 : 1)" [isLoginPage]="true"
                    [board]="gameData.board"
                    [level]="gameData.level"
                    [animateOpacity]="true"
                    [defaultOpacity]="(inGame$ | async) ? 1 : 0.5"
                />
                <div class="play-details">

                    <p class="game-label score">Score</p>
                    <p class="game-score">{{scoreToSixDigits(gameData.score)}}</p>

                    <p class="game-label next">Next</p>
                    <app-nes-piece [scale]="windowWidth * 0.0014 * ((this.small$ | async) ? 3 : 1)" [isLoginPage]="true" [piece]="gameData.nextPiece" />

                </div>
            </div>
            <p class="instructions">Use arrow keys to move and ‘Z’ or ‘X’ to rotate</p>
            
        </div>

    </div>

</div>