@import "../../../../../styles.scss";

:host {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.back-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.title {
    font-family: $main-font;
    font-weight: 600;
    font-size: 16px;
    margin: 5px;
    text-wrap: nowrap;

    margin-bottom: 10px;
}

app-loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 880px;
    gap: 20px;
}

.stat-panels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    width: 100%;
    box-sizing: border-box;
}

.stat {
    background-color: $section-color;
    border-radius: 10px;

    width: 100%;
    height: 110px;
    box-sizing: border-box;
}

.stat:hover {
    filter: brightness(1.1);
}

.stat.score, .stat.accuracy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat.score {
    background-color: $button-active-color;
}

.stat p {
    font-family: $main-font;
    margin: 0;
}

.stat p.label {
    font-weight: 600;
    font-size: 20px;
}

.stat p.value {
    font-weight: 700;
    font-size: 36px;
}

.stat p.description {
    font-weight: 500;
    font-size: 15px;
}

.stat.statistics {
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    justify-content: center;
    gap: 6px;
}

.statistic {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statistic p:first-child {
    font-size: 14px;
    font-weight: 400;
}

.statistic p:last-child {
    font-size: 14px;
    font-weight: 700;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.board-panel {
    padding: 10px;
    background-color: $section-color;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.board-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    box-sizing: border-box;
}

.top {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.level-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.board-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.board-stat .label {
    font-family: 'Pixel NES';
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.board-stat .value {
    font-family: 'Pixel NES';
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.center p {
    font-family: 'Pixel NES';
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

app-nes-piece {
    height: 70px;
}

section.placement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

section.placement h1 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    margin-bottom: 2px;
}

section.placement .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}

p.time {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    margin: 3px;
}

app-game-summary-graph {
    width: 100%;
}


.panels {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

.recommendation-panel {
    background-color: $section-color;
    border-radius: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px;

    width: fit-content;
    box-sizing: border-box;

    transition: opacity 0.3s;
}

.recommendation-panel.limbo {
    opacity: 0.5;
    pointer-events: none;
}

.hz-selector {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    box-shadow: 0 4px 4px #00000040;
}

.recommendation-group {
    display: flex;
    flex-direction: column;
}

.recommendation-panel h1 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    margin-bottom: 8px;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.recommendation-row {
    display: grid;
    grid-template-columns: 35px 70px 70px;
}

.recommendation-row.has-next-box {
    grid-template-columns: 35px 70px 70px 70px;
}

.recommendation-row div {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 1;
}

.recommendation-row.header {
    font-family: $main-font;
    font-weight: 500;
    font-size: 10px;
    margin: 0;
    opacity: 0.7;
    text-align: center;
    margin-bottom: -1px;

}

.recommendation-row.rec-content {
    background-color: $subsection-color;
    box-shadow: 0 4px 4px #00000040;
    border-radius: 10px;

    font-family: $main-font;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    text-align: center;

    padding-block: 2px;
    border: solid 1px rgb(0,0,0,0);
    width: fit-content;
}

.recommendation-row.rec-content.actual {
    background-color: #484850;
    border: solid 1px white;
}

.recommendation-row.rec-content.hovered {
    opacity: 0.7;
    cursor: pointer;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 5px;
}

.toggle-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggle-div p {
    margin: 0;
    font-family: $main-font;
    font-weight: 600;
    font-size: 9px;
}

app-slide-toggle {
    transform: scale(0.8);
}

.placements-panel {
    background-color: $section-color;
    border-radius: 10px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 3px;
}

.placements-panel h1 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    margin-bottom: 8px;
}

.placement {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p.rating {
    font-family: $main-font;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

p.count {
    font-family: $main-font;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}